<launch>
	<param name="robot_description" textfile="$(find rrm_cv3)/urdf/arm.urdf" />
	<param name="use_gui" value="True"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
 	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrm_cv3)/config/rrm_cv3.rviz" required="true" />
</launch>
