<launch>
	<param name="robot_description" textfile="$(find rrm_cv3_trebula)/urdf/arm.urdf" />
	<param name="use_gui" value="True"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_tf_broadcaster" pkg="rrm_cv3_trebula" type="tf_broadcaster_node_trebula" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrm_cv3_trebula)/config/rrm_cv3.rviz" required="true" />
</launch>
